USE [master]
GO
/****** Object:  Database [t5]    Script Date: 6/12/2024 11:55:36 AM ******/
CREATE DATABASE [t5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N't5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\t5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N't5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\t5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [t5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [t5]
GO
/****** Object:  Table [dbo].[ChuTro]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuTro](
	[ID_ChuTro] [int] IDENTITY(1,1) NOT NULL,
	[TenChuTro] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[TenTaiKhoan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ChuTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienNuoc]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienNuoc](
	[ID_Phong] [int] IDENTITY(1,1) NOT NULL,
	[SoDienHienTai] [bigint] NULL,
	[SoNuocHienTai] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID_KhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[TenTaiKhoan] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DelFlg] [tinyint] NULL,
	[DiaChi] [nvarchar](500) NULL,
	[MaPhong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[ID_LoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[DelFlg] [tinyint] NULL,
	[Gia] [nvarchar](50) NULL,
	[ID_Tro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[ID_Phong] [int] IDENTITY(1,1) NOT NULL,
	[ID_LoaiPhong] [int] NULL,
	[TenPhong] [nvarchar](50) NULL,
	[TrangThai] [tinyint] NULL,
	[DelFlag] [tinyint] NULL,
	[ID_Tro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[TenTaiKhoan] [nvarchar](50) NULL,
	[Quyen] [int] NULL,
	[DelFlg] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKe]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKe](
	[ID_ThongKe] [int] IDENTITY(1,1) NOT NULL,
	[Thoigian] [nvarchar](50) NULL,
	[SoDienTieuThu] [bigint] NULL,
	[SoNuocTieuThu] [bigint] NULL,
	[TienPhong] [bigint] NULL,
	[TongTien] [bigint] NULL,
	[ID_Phong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ThongKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TongTien]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TongTien](
	[ID_Phong] [int] IDENTITY(1,1) NOT NULL,
	[TongTien] [bigint] NULL,
	[TienDaThanhToan] [bigint] NULL,
	[DuNo] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tro]    Script Date: 6/12/2024 11:55:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tro](
	[ID_Tro] [int] IDENTITY(1,1) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DonGiaDien] [bigint] NULL,
	[DonGiaNuoc] [bigint] NULL,
	[ID_ChuTro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuTro] ON 

INSERT [dbo].[ChuTro] ([ID_ChuTro], [TenChuTro], [Email], [SoDienThoai], [Password], [TenTaiKhoan]) VALUES (1, N'Pham Xuan Huy', N'huy2004@gmail.com', N'212321324', N'123', N'Admin')
INSERT [dbo].[ChuTro] ([ID_ChuTro], [TenChuTro], [Email], [SoDienThoai], [Password], [TenTaiKhoan]) VALUES (2, N'Pham Tuan Hai', N'hai2004@gmail.com', N'23213454', N'123', N'Admin2')
SET IDENTITY_INSERT [dbo].[ChuTro] OFF
GO
SET IDENTITY_INSERT [dbo].[DienNuoc] ON 

INSERT [dbo].[DienNuoc] ([ID_Phong], [SoDienHienTai], [SoNuocHienTai]) VALUES (1, 220, 150)
INSERT [dbo].[DienNuoc] ([ID_Phong], [SoDienHienTai], [SoNuocHienTai]) VALUES (2, 240, 150)
INSERT [dbo].[DienNuoc] ([ID_Phong], [SoDienHienTai], [SoNuocHienTai]) VALUES (3, 120, 60)
SET IDENTITY_INSERT [dbo].[DienNuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID_KhachHang], [TenKhachHang], [Password], [TenTaiKhoan], [CCCD], [SoDienThoai], [DelFlg], [DiaChi], [MaPhong]) VALUES (1, N'Pham Hoang Tuan Thanh', N'123', N'thanhp', N'044204003735', N'0839772123', 0, N'Tuyen Hoa Quang Binh', 1)
INSERT [dbo].[KhachHang] ([ID_KhachHang], [TenKhachHang], [Password], [TenTaiKhoan], [CCCD], [SoDienThoai], [DelFlg], [DiaChi], [MaPhong]) VALUES (2, N'Le Van Anh Khoa', N'123', N'khoale', N'044204003736', N'0839772124', 0, N'Hai Lang QuangTri', 1)
INSERT [dbo].[KhachHang] ([ID_KhachHang], [TenKhachHang], [Password], [TenTaiKhoan], [CCCD], [SoDienThoai], [DelFlg], [DiaChi], [MaPhong]) VALUES (3, N'Van Cong Chi Thanh', N'123', N'thanh', N'049204006975', N'0768539879', 0, N'Duy Xuyen,Quang Nam', 2)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [TenLoaiPhong], [DelFlg], [Gia], [ID_Tro]) VALUES (1, N'Thường', 0, N'1000000', 1)
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [TenLoaiPhong], [DelFlg], [Gia], [ID_Tro]) VALUES (2, N'Ðiều hòa', 0, N'1500000', 1)
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [TenLoaiPhong], [DelFlg], [Gia], [ID_Tro]) VALUES (3, N'Đầy đủ nội thất', 0, N'2000000', 1)
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([ID_Phong], [ID_LoaiPhong], [TenPhong], [TrangThai], [DelFlag], [ID_Tro]) VALUES (1, 1, N'001', 1, 0, 1)
INSERT [dbo].[Phong] ([ID_Phong], [ID_LoaiPhong], [TenPhong], [TrangThai], [DelFlag], [ID_Tro]) VALUES (2, 2, N'002', 1, 0, 1)
INSERT [dbo].[Phong] ([ID_Phong], [ID_LoaiPhong], [TenPhong], [TrangThai], [DelFlag], [ID_Tro]) VALUES (3, 2, N'003', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Password], [TenTaiKhoan], [Quyen], [DelFlg]) VALUES (1, N'123', N'Admin', 9999, 0)
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Password], [TenTaiKhoan], [Quyen], [DelFlg]) VALUES (2, N'123', N'Admin2', 9999, 0)
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Password], [TenTaiKhoan], [Quyen], [DelFlg]) VALUES (3, N'123', N'thanhp', 6666, 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongKe] ON 

INSERT [dbo].[ThongKe] ([ID_ThongKe], [Thoigian], [SoDienTieuThu], [SoNuocTieuThu], [TienPhong], [TongTien], [ID_Phong]) VALUES (1, N'T1/2024', 10, 15, 1000000, 1105000, 1)
INSERT [dbo].[ThongKe] ([ID_ThongKe], [Thoigian], [SoDienTieuThu], [SoNuocTieuThu], [TienPhong], [TongTien], [ID_Phong]) VALUES (2, N'T2/2024', 40, 15, 1000000, 1195000, 1)
INSERT [dbo].[ThongKe] ([ID_ThongKe], [Thoigian], [SoDienTieuThu], [SoNuocTieuThu], [TienPhong], [TongTien], [ID_Phong]) VALUES (3, N'', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ThongKe] OFF
GO
SET IDENTITY_INSERT [dbo].[TongTien] ON 

INSERT [dbo].[TongTien] ([ID_Phong], [TongTien], [TienDaThanhToan], [DuNo]) VALUES (1, 1130000, 1130000, 0)
INSERT [dbo].[TongTien] ([ID_Phong], [TongTien], [TienDaThanhToan], [DuNo]) VALUES (2, 1710000, 1710000, 0)
INSERT [dbo].[TongTien] ([ID_Phong], [TongTien], [TienDaThanhToan], [DuNo]) VALUES (3, 1610000, 1610000, 0)
SET IDENTITY_INSERT [dbo].[TongTien] OFF
GO
SET IDENTITY_INSERT [dbo].[Tro] ON 

INSERT [dbo].[Tro] ([ID_Tro], [DiaChi], [DonGiaDien], [DonGiaNuoc], [ID_ChuTro]) VALUES (1, N'27/6 Nguyễn Lương Bằng', 3000, 5000, 1)
INSERT [dbo].[Tro] ([ID_Tro], [DiaChi], [DonGiaDien], [DonGiaNuoc], [ID_ChuTro]) VALUES (2, N'127 Phan Sỹ Hùng', 4000, 5000, 1)
INSERT [dbo].[Tro] ([ID_Tro], [DiaChi], [DonGiaDien], [DonGiaNuoc], [ID_ChuTro]) VALUES (3, N'Số 28, Phan Châu Trinh', 3500, 4000, 2)
SET IDENTITY_INSERT [dbo].[Tro] OFF
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('') FOR [DiaChi]
GO
ALTER TABLE [dbo].[DienNuoc]  WITH CHECK ADD FOREIGN KEY([ID_Phong])
REFERENCES [dbo].[Phong] ([ID_Phong])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([ID_Phong])
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD FOREIGN KEY([ID_Tro])
REFERENCES [dbo].[Tro] ([ID_Tro])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([ID_LoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([ID_LoaiPhong])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([ID_Tro])
REFERENCES [dbo].[Tro] ([ID_Tro])
GO
ALTER TABLE [dbo].[ThongKe]  WITH CHECK ADD FOREIGN KEY([ID_Phong])
REFERENCES [dbo].[Phong] ([ID_Phong])
GO
ALTER TABLE [dbo].[TongTien]  WITH CHECK ADD FOREIGN KEY([ID_Phong])
REFERENCES [dbo].[Phong] ([ID_Phong])
GO
ALTER TABLE [dbo].[Tro]  WITH CHECK ADD FOREIGN KEY([ID_ChuTro])
REFERENCES [dbo].[ChuTro] ([ID_ChuTro])
GO
USE [master]
GO
